@font-face {
    font-family: 'Proxima Nova Alt';
    src: url(../fonts/Proxima\ Nova\ Alt.otf);
}
@font-face {
    font-family: 'Proxima Nova Regular';
    src: url(../fonts/ProximaNova-Regular.otf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Proxima Nova Alt",'Proxima Nova Regular', Sans-serif;
    list-style: none;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
header {
    height: 90vh;
    background: linear-gradient(to right, #ea9b2e, #983a14);
}
.menu{
    display: flex;
    position: fixed;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background: rgba(255, 255, 255);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    z-index: 1;
    /* background: linear-gradient(to right bottom, #00831c, #0dff1960); */
}
.hamburger {
    cursor: pointer;
    position: relative;
    width: 60px;
    height: 60px;
    background: linear-gradient(to right, #cc2b5e, #753a88);
    left: 15px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.hamburger .bars div {
    height: 2px;
    width: 25px;
    background-color: #fff;
    transition: 0.7s;
    margin: 7px 0 7px;
}
#sideNav {
    top: 0;
    left: .1px;
    height: 100%;
    position: fixed;
    z-index: 1;
    background: linear-gradient(to right bottom, #00990099, #009960);
    overflow: hidden;
    transition: 0.5s;
    width: 0;
}
#sideNav ul{
    position: relative;
    top: 5em;
    left: 1em;
}
#sideNav ul li {
    /* background-color: #99000099; */
    margin: 30px 0 30px 20px;
}
#sideNav ul li a {
    /* 	background-color: #00009999; */
    font-size: 24px;
    color: #fff;
}
#sideNav ul li a:hover {
    color: yellow;
}
.menu a{
    display: flex;
    /* margin: 5px 0; */
}
.menu img{
    width: 5em;
}
#ctn-bars-search{
    top: 5em;
    transition: all 0.7s;
    position: fixed;
    left: .1px;
    height: 0;
    overflow: hidden;
    width: 100%;
    background: #fff;
}
#ctn-bars-search input{
    display: block;
    width: 80%;
    margin: 12px auto;
    font-size: 18px;
}
#ctn-icon-search{
    position: relative;
    right: 15px;
    display: flex;
}
#ctn-icon-search i{
    font-size: 3em;
    cursor: pointer;
    transition: 300ms;
}
#cover-ctn-search{
    left: .1px;
    width: 0;
    height: 0;
    position: fixed;
    top: 8em;
}
#ctn-icon-search i:hover{
    color: #00990099;
}
main{
    font-size: 15px;
}
main #yellow-cards article h2::before, main #yellow-cards article:nth-of-type(4) p::before,
main #servicios div p::before, footer p::before, footer a::before{
    font-family: "Font Awesome 5 Free";
    font-size: 28px;
    font-weight: 1;
}
main #yellow-cards article:nth-of-type(1) h2::before{
    content: "\f044";
    margin-right: 5px;
}
main #yellow-cards article:nth-of-type(2) h2::before{
    content: "\f2b5";
    margin-right: 5px;
}
main #yellow-cards article:nth-of-type(3) h2::before{
    content: "\f06e";
    margin-right: 5px;
}
main #yellow-cards article:nth-of-type(4) h2::before{
    content: "\f005";
    margin-right: 5px;
}
main #yellow-cards article:nth-of-type(4) p::before{
    content: "\f559";
    font-weight: 600;
    font-size: 20px;
    margin-right: 10px;
}
main #yellow-cards article:nth-of-type(4) img{
    position: relative;
    bottom: 67%;
    left: 57%;
    width: 7.5em;
}
main #yellow-cards article{
    display: flex;
    width: 96vw;
    height: 12.3em;
    margin: 1em auto;
    background: #F89420;
    flex-direction: column;
    justify-content: space-evenly;
}
main #yellow-cards article h2{
    position: relative;
    width: 50%;
    top: 20px;
    left: 40px;
    z-index: 0;
}
main #yellow-cards article p{
    width: 82%;
    margin: auto auto auto 50px;
    color: #fff;
}
main #yellow-cards article:nth-of-type(1){
    border-radius: 0 0 6em 0;
}
main #yellow-cards article:nth-of-type(2){
    border-radius: 0 0 0 6em;
}
main #yellow-cards article:nth-of-type(3){
    border-radius: 0 6em 0 0;
}
main #yellow-cards article:nth-of-type(4){
    border-radius: 6em 0 0 0;
    justify-content: normal;
}
main #yellow-cards article:nth-of-type(4) p{
    position: relative;
    left: 3em;
    top: 2em;
    width: 50%;
    margin: 0px 0px 16px 0px;
}
main h1{
    text-align: center;
    grid-column: 1/3;
}
main #productos article{
    background: #02AC4C;
    border-radius: 2em;
    width: 95%;
    padding: 3vw 0 2em;
    margin: 20px auto;
    transition: all ease 1s;
}
main #productos article img{
    width: 20.2em;
    display: flex;
    margin: auto;
    transition: all ease 1s;
}
main #productos article button{
    background-color: #231F20;
    border: 3px solid white;
    height: 45px;
    width: 50%;
    font-size: 18px;
    position: relative;
    left: 25%;
    bottom: 1.4em;
}
main #productos article, main #productos article button a{
    color: #fff;
}
main #productos article p{
    width: 80%;
    margin: auto;
}
main #servicios{
    width: 92vw;
    position: relative;
    margin: 0 auto 1em;
    border-radius: 12px;
    box-shadow: 8px 8px 16px rgba(165, 177, 198, 0.8),
    -8px -8px 16px rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column;
}
main #servicios h1,
main #clientes-y-fundamentos h1{
    margin: 0;
    padding: 0.67em;
}
main #servicios > :nth-child(2){
    position: absolute;
    right: 0;
    z-index: -1;
}
main #servicios > img{
    width: 12em;
    display: flex;
    margin: 0 auto;
}
main #servicios article > img{
    height: 10em;
    display: flex;
    margin: 0 auto;
}
main #servicios article:nth-of-type(1) > :nth-child(2){
    width: 84%;
    text-align: unset;
}
main #servicios article p{
    width: 65%;
    margin: 0 auto 1.5em;
    text-align: center;
}
main #servicios div p{
    font-size: 13px;
    margin: 0 auto 10px;
    width: 70%;
}
main #servicios > :last-child{
    position: absolute;
    transform: rotate(180deg);
    bottom: 0;
    z-index: -1;
}
main #servicios div p::before{
    content: "\f0a4";
    color: #019247;
    font-size: 1.3em;
    margin-right: 5px;
}
main #clientes-y-fundamentos article p{
    margin: 0 auto 2em;
    font-size: 15px;
    width: 91%;
}
main #clientes-y-fundamentos article:nth-of-type(1){
    background: #A56C29;
    color: #fff;
    position: relative;
}
main #clientes-y-fundamentos article:nth-of-type(1) img{
    display: flex;
    margin: auto;
    padding-bottom: 1em;
    width: 10em;
}
main #clientes-y-fundamentos article:nth-of-type(2){
    background: #019247;
    color: #fff;
}
main #clientes-y-fundamentos article:nth-of-type(2) p:nth-of-type(2n){
    padding-left: 20px;
}
main #clientes-y-fundamentos article:nth-of-type(2) :last-child{
    padding-bottom: 1em;
}
main #rest-zone{
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
main #rest-zone img:nth-of-type(odd){
    width: 70vw;
}
main #rest-zone img:nth-of-type(even){
    width: 50%;
    align-self: center;
}
main #rest-zone img:nth-of-type(3){
    align-self: flex-end;
}
main #marcas-y-socios{
    display: flex;
    overflow: hidden;
    align-items: center;
    transition: all 1s ease;
    height: 200px;
}
@keyframes scrollImg {
    from { transform: translateX(0%); }
    to { transform: translateX(-50%); }
}
main #marcas-y-socios article{
    display: flex;
    animation: scrollImg 50s infinite linear;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}
main #marcas-y-socios article div{
    width: 60vw;
    height: 30vw;
    background: #FDFCFD;
    border: 1px solid transparent;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    margin:10px;
    border-radius: 10px;
}
main #marcas-y-socios article div img{
    width: 100%;
    height: 100%;
    padding: 10px;
}
main #marcas-y-socios article div:nth-of-type(6) {
    justify-content: center;
    display: flex;
    margin:10px;
}
main #marcas-y-socios article div:nth-of-type(6) img{
    width: auto;
    padding: 5px;
}
main #marcas-y-socios article div:nth-of-type(11) img,
main #marcas-y-socios article div:nth-of-type(12) img{
    display: none;
}
footer{
    background: #231F20;
    color: #FDFCFD;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
footer p::before, footer a::before{
    font-weight: 600;
    display: flex;
    justify-content: center;
}
footer > :nth-child(1)::before{
    content: "\f3c5";
}
footer > :nth-child(2)::before{
    content: "\f017";
}
footer > :nth-child(3)::before{
    content: "\f879";
}
footer > :nth-child(4)::before{
    content: "\f658";
    content: "\f2b6";
}
footer > :nth-child(1){
    margin-top: 10vh;
    width: 90vw;
    text-align: center;
}
footer a{
    color: #fff;
    text-decoration: underline;
}
footer a:hover{
    color: cyan;
}
footer img{
    position: absolute;
    width: 50%;
    bottom: 9%;
    right: 0%;
}
footer > :nth-child(6){
    height: 3em;
    width: 100%;
    text-align: center;
    line-height: 3em;
    background: #000;
}
footer > :nth-child(6) i{
    font-size: 12px;
    margin: 5px;
}
@media only screen and (min-width: 450px){
    main #productos article{
        background: unset;
        color: rgb(61, 53, 53);
        border: 5px solid #02AC4C;
        border-radius: 2em;
        padding: 1em 0;
    }
    main #productos article img{
        width: 22.5em;
    }
    main #rest-zone{
        height: unset;
    }
    main #marcas-y-socios article{
        animation: scrollImg 50s infinite linear;
    }
    main #marcas-y-socios{
        height: 200px;
    }
    main #marcas-y-socios article div{
        width: 180px;
        height: 90px;
    }
}

@media only screen and (min-width: 650px) {
    .menu{
        display: grid;
        grid: 100% / 35% 30% 25% 10%;
    }
    .menu #Slogan{
        justify-content: center;
    }
    #ctn-icon-search {
        justify-content: flex-end;
    }
    #ctn-bars-search{
        display: flex;
        position: unset;
        height: 80%;
    }
    #ctn-bars-search input{
        width: 95%;
    }
    main #yellow-cards {
        display: grid;
        grid: 50% 50% / 50% 50%;
    }
    main #yellow-cards article{
        width: 20.3em;
    }
    main #yellow-cards article:nth-of-type(1),
    main #yellow-cards article:nth-of-type(3){
        margin: 2vw 1vw 0 3vw;
    }
    main #yellow-cards article:nth-of-type(2),
    main #yellow-cards article:nth-of-type(4){
        margin: 2vw 3vw 0 1vw;
        justify-self: end;
    }
    main #productos{
        display: grid;
        grid: 1fr/ 1fr 1fr;
    }
    main #productos article{
        background: #02AC4C;
        width: 20.3em;
        height: 25em;
        color: white;
        border: none;
        border-radius: 2em;
        padding: 0;
        margin: 0 auto 5vw auto;
    }
    main #productos article:hover{
        transform: scale(1.15);
    }
    main #productos article img{
        width: 100%;
    }
    main #servicios, main #clientes-y-fundamentos{
        display: grid;
        grid: 1fr/ 1fr 1fr;
    }
    main #servicios > :nth-child(2){
        transform: rotate(270deg) translate(106%, 34%);
        right: unset;
    }
    main #servicios > :last-child{
        transform: rotate(90deg) translate(106%, 33.7%);
        right: 0;
    }
    main #servicios > :nth-child(3){
        grid-column: 1;
        grid-row: 2;
    }
    main #servicios > :nth-child(3) img{
        height: 11.5em;
    }
    main #servicios > :nth-child(4){
        grid-column: 1;
        grid-row: 3/4;
    }
    main #servicios > :nth-child(5){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main #servicios > :nth-child(5) p{
        margin: 0;
    }
    main #rest-zone{
        margin: 3em 0;
    }
    main #rest-zone img:nth-of-type(even){
        width: 40%;
    }
}
@media only screen and (min-width: 1080px) {
    header {
        background: linear-gradient(to right, #cc2b5e, #753a88);
    }
    .hamburger {
        display: none;
    }
    .menu{
        grid: 100% / 45% 10% 40% 5%;
    }
    .menu a{
        justify-content: center;
    }
    #sideNav {
        position: relative;
        width: auto;
        height: auto;
        background: none;
    }
    #sideNav ul{
        top: 0;
        left: 0;
    }
    #sideNav ul li {
        margin: 0 30px 0 16px;
        display: inline-block;
    }
    #sideNav ul li a{
        color: black;
    }
    #ctn-bars-search{
        width: 60%;
        justify-self: right;
    }
    main h1{
        grid-column: 1/4;
    }
    main #productos{
        grid: 1fr/ 1fr 1fr 1fr;
    }
    main #servicios{
        grid: 1fr / 1fr 1fr 1fr;
    }
    main #servicios article:nth-of-type(1) > :nth-child(2){
        width: 65%;
        text-align: unset;
        margin: 0 auto 10px;
    }
    main #servicios article:nth-of-type(1) div{
        grid-column: 1/3;
    }
    main #servicios > :nth-child(4){
        grid-column: 1/4;
        grid-row: 3;
        display: flex;
        height: 8em;
        align-items: center;
    }
    main #servicios > :nth-child(6){
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    main #servicios > :nth-child(6) p{
        margin: 0;
    }
    main #servicios > div p{
        margin: auto;
        width: 25%;
    }
    main #clientes-y-fundamentos{
        width: 95vw;
        margin: auto;
        display: grid;
        gap: .5em;
        grid: 43% 57%/ 1fr;
    }
    main #clientes-y-fundamentos h1{
        text-align: left;
    }
    main #clientes-y-fundamentos article:nth-of-type(1) img{
        position: absolute;
        top: 110%;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
    main #rest-zone{
        height: 40vw;
        position: relative;
    }
    main #rest-zone img:nth-of-type(even){
        width: 20%;
    }
    main #rest-zone img:nth-of-type(odd){
        width: 65vw;
        position: absolute;
    }
    main #rest-zone img:nth-of-type(1){
        top: 0;
    }
    main #rest-zone img:nth-of-type(3){
        bottom: 0;
    }
    main #marcas-y-socios{
        height: 250px;
    }
    main #marcas-y-socios article div{
        width: 300px;
        height: 150px;
    }
}