@font-face {
	font-family: 'Proxima Nova Alt';
	src: url(fonts/Proxima\ Nova\ Alt.otf);
}
@font-face {
	font-family: 'Proxima Nova Regular';
	src: url(fonts/ProximaNova-Regular.otf);
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Proxima Nova Alt",'Proxima Nova Regular', Sans-serif;
	list-style: none;
	text-decoration: none;
}
html{
	scroll-behavior: smooth;
}
header {
	height: 90vh;
	background: linear-gradient(to right, #ea9b2e, #983a14);
}
.menu{
	display: flex;
	position: fixed;
	height: auto;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	background: rgba(255, 255, 255);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	border: 1px solid rgba(255, 255, 255, 0.18);
	/* background: linear-gradient(to right bottom, #00831c, #0dff1960); */
}
.hamburger {
	cursor: pointer;
	position: relative;
	width: 60px;
	height: 60px;
	background: linear-gradient(to right, #cc2b5e, #753a88);
	left: 15px;
	border-radius: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 2;
}
.hamburger .bars div {
	height: 2px;
	width: 25px;
	background-color: #fff;
	transition: 0.7s;
	margin: 7px 0 7px;
}
#sideNav {
	top: 0;
	left: .1px;
	height: 100%;
	position: fixed;
	z-index: 1;
	background: linear-gradient(to right bottom, #00990099, #009960);
	overflow: hidden;
	transition: 0.5s;
	width: 0;
}
#sideNav ul{
	position: relative;
	top: 5em;
	left: 1em;
}
#sideNav ul li {
		/* background-color: #99000099; */
	margin: 30px 0 30px 20px;
}
#sideNav ul li a {
	/* 	background-color: #00009999; */
	font-size: 24px;
	color: #fff;
}
#sideNav ul li a:hover {
	color: yellow;
}
.menu a{
	display: flex;
	/* margin: 5px 0; */
}
.menu img{
	width: 5em;
}
#ctn-bars-search{
	top: 5em;
	transition: all 0.7s;
	position: fixed;
	left: .1px;
	height: 0;
	overflow: hidden;
	width: 100%;
	background: #fff;
}
#ctn-bars-search input{
	display: block;
	width: 80%;
	margin: 12px auto;
	font-size: 18px;
}
#ctn-icon-search{
	position: relative;
	right: 15px;
	display: flex;
}
#ctn-icon-search i{
	font-size: 3em;
	cursor: pointer;
	transition: 300ms;
}
#cover-ctn-search{
	left: .1px;
	width: 0;
	height: 0;
	position: fixed;
	top: 8em;
}
#ctn-icon-search i:hover{
	color: #00990099;
}

@media only screen and (min-width: 650px) {
	.menu{
		display: grid;
		grid: 100% / 35% 30% 25% 10%;
	}
	.menu #Slogan{
		justify-content: center;
	}
	#ctn-icon-search {
		justify-content: flex-end;
	}
	#ctn-bars-search{
		display: flex;
		position: unset;
		height: 80%;
	}
	#ctn-bars-search input{
		width: 95%;
	}
}
@media only screen and (min-width: 1080px) {
	header {
		background: linear-gradient(to right, #cc2b5e, #753a88);
	}
	.hamburger {
		display: none;
	}
	.menu{
		grid: 100% / 45% 10% 40% 5%;
	}
	.menu a{
		justify-content: center;
	}
	#sideNav {
		position: relative;
		width: auto;
		height: auto;
		background: none;
	}
	#sideNav ul{
		top: 0;
		left: 0;
	}
	#sideNav ul li {
		margin: 0 30px 0 16px;
		display: inline-block;
	}
	#sideNav ul li a{
		color: black;
	}
	#ctn-bars-search{
		width: 60%;
		justify-self: right;
	}
}